<html>
<head>
  <title>STREET SMART</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body id="homepage">
  <div class="row row1">
    <div class="container">
      <div class="img-container">
        <img class="logo" src="images/radar.png">
      </div>
      <h1 class="title">STREET.SMART</h1>
    </div>
  </div>
  <div class="row row2">
    <div class="container">
      <div class="row">
        <h2 class="subtitle">ENFORCING SMART TRAVELLING & CRIME REPORTING</h2>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <a id="check-map" href="map.html" class="cta cta-1">CHECK MAP</a>
        </div>
        <div class="col-md-6 col-xs-12">
          <a href="form.html" class="cta cta-2">REPORT CRIME</a>
        </div>
      </div>
      <div id="footer" class="row">
        <div class="col-md-12">
          <p class="footer">POWERED BY CODEVADERS</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>